
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  cursor:url('flowerr.png'),auto;
  font-family: cinzel-decorative-bold;
  line-height: 1.6;
  color: #ffffff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}


.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.hero {
 
  height: 100vh;
  background-color: #e1e6ff; 
  background-image: url('totoro1.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 2;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #b0acff5d; 
  z-index: -1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.highlight {
  color: #ffffff;
  font-family:cinzel-decorative-bold ;
  font-weight: bold;
  -webkit-text-stroke: 1px #000000; 
  text-shadow:2px 2px 4px rgba(8, 5, 21, 0.735);
}


 



.container {
  max-width: 800px;
  margin: 0 auto;
}



.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}



.side-image {
  position: absolute;
  top: 38%;
  left: 2%;
  transform: translateY(-50%);
  height: 300px;
  width: auto;
  z-index: 10;
  pointer-events: none; 
  opacity: 0.9;
}
.polaroid {
  width: 200px;
  height:50px;
  text-align: center;
  background: #00000006;
  padding: 10px 10px 20px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32);
  transform: rotate(8.2deg);
  position: absolute;
  top: 51%;
  left: 2.3%;
  z-index: 20;
  color: #000000;
}


.caption {
  font-family: Cinzel-decorative-bold;
  font-size: 1rem;
  color: #000000;
  margin-top: 8px;

}

.footer {
  top:100%;
  height:50px;
  width:100%;
  text-align: center;
  padding: 1rem;
  background-color: #f0eeed;
  color: #000000;
  font-size: 0.9rem;
  margin-top:auto;
  z-index: 100;
  position: absolute;
}
.logo-text {
  position: fixed;
  top: 1px;
  left: 20px;
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.center-box {
  width:1200px;
  height:500px;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0eeedd2; 
  padding: 30px 40px;
  border-radius: 0px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.272);
  text-align: justify;
  z-index: 100; 
}

.center-box p {
  font-size: 1.5rem;
  font-size: large;
  font-family: Cinzel-decorative-bold;
  color: #000000;
  margin: 0;
}
.navbar {
  z-index: 0;
  box-shadow: #000000;
  background-color: #8f89f977;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: right;
  
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li {
  display: inline;
}

.navbar a {
  -webkit-text-stroke: 0.5px #000000;
  text-decoration:none ;
  color: white;
  font-weight: bold;
  font-family: "Cinzel Decorative", serif;
  font-size: 1.3rem;
  transition: color 0.3s;
  
}

.navbar a:hover {
  color: #000000;
  cursor: url('flowerr.png'),auto;
}


.description h2:hover{
    color: #ffffff;
    -webkit-text-stroke: 0.9px #000000;
    cursor:url('flowerr.png'),auto;
}
.movie-section {
  display: flex;
  font-size: 15px;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.poster {
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}
.description p{
  font-size: 14px;
}
.description {
  
  max-width: 700px;
  font-size: 1.1em;
}
.description h2{
  color: #ffffff;
  -webkit-text-stroke: 0.5px #000000;
}
